<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>UIAppFonts</key>
        <array>
                <string>NotoSansKR-Bold.ttf</string>
                <string>NotoSansKR-SemiBold.ttf</string>
                <string>NotoSansKR-Medium.ttf</string>
                <string>NotoSansKR-Regular.ttf</string>
        </array>
<key>NSAppTransportSecurity</key>
<dict>
    <key>NSExceptionDomains</key>
    <dict>
        <key>apis.data.go.kr</key>
        <dict>
            <key>NSIncludesSubdomains</key>
            <true/>
            <key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
            <true/>
            <key>NSTemporaryExceptionMinimumTLSVersion</key>
            <string>TLSv1.2</string>
        </dict>

    </dict>
</dict>
<key>NSHealthShareUsageDescription</key>
<string>이 앱은 수면 분석 및 심박수를 기반으로 개인화된 건강 피드백을 제공합니다.</string>

</dict>
</plist>
