<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthShareUsageDescription</key>
	<string>건강 데이터를 읽기 위해 접근이 필요합니다.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>건강 데이터를 업데이트하기 위해 접근이 필요합니다.</string>
	<key>UIAppFonts</key>
	<array>
		<string>NotoSansKR-Bold.ttf</string>
		<string>NotoSansKR-SemiBold.ttf</string>
		<string>NotoSansKR-Medium.ttf</string>
		<string>NotoSansKR-Regular.ttf</string>
	</array>
</dict>
</plist>
